<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CerrarSeAd</servlet-name>
        <servlet-class>Controlador.CerrarSeAd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSeEm</servlet-name>
        <servlet-class>Controlador.CerrarSeEm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSeEs</servlet-name>
        <servlet-class>Controlador.CerrarSeEs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador2</servlet-name>
        <servlet-class>Controlador.Controlador2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorAdministrador1</servlet-name>
        <servlet-class>Controlador.ControladorAdministrador1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorEmpresa</servlet-name>
        <servlet-class>Controlador.ControladorEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorEstudiante</servlet-name>
        <servlet-class>Controlador.ControladorEstudiante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorVacante</servlet-name>
        <servlet-class>Controlador.ControladorVacante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarEm</servlet-name>
        <servlet-class>Controlador.ValidarEm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarEs</servlet-name>
        <servlet-class>Controlador.ValidarEs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarAd1</servlet-name>
        <servlet-class>Controlador.ValidarAd1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPostulado</servlet-name>
        <servlet-class>Controlador.ControladorPostulado</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CerrarSeAd</servlet-name>
        <url-pattern>/CerrarSeAd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSeEm</servlet-name>
        <url-pattern>/CerrarSeEm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSeEs</servlet-name>
        <url-pattern>/CerrarSeEs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador2</servlet-name>
        <url-pattern>/Controlador2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorAdministrador1</servlet-name>
        <url-pattern>/ControladorAdministrador1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorEmpresa</servlet-name>
        <url-pattern>/ControladorEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorEstudiante</servlet-name>
        <url-pattern>/ControladorEstudiante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorVacante</servlet-name>
        <url-pattern>/ControladorVacante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarEm</servlet-name>
        <url-pattern>/ValidarEm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarEs</servlet-name>
        <url-pattern>/ValidarEs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarAd1</servlet-name>
        <url-pattern>/ValidarAd1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPostulado</servlet-name>
        <url-pattern>/ControladorPostulado</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
